restaurant-frontend/node_modules/

restaurant-management-Sys/target/
restaurant-management-Sys/.idea/
restaurant-management-Sys/out/

.vscode/

*.log
logs/

.env
.env.*

.DS_Store
Thumbs.db
Desktop.ini

*.class
*.jar
*.war
*.ear

tmp/
temp/
uploads/